/* CSS for events by category route */

.event-category h1 {
  margin-top: 20px;
}

/* .event-category {

  background-image: url(../img/background/tablet-6110623_1280.png);
  height: 100%;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
} */