/* CSS for events by category route */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#event-category {
  background-image: url(../img/background/laptop-6110635_1280.png);
  height: 620px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-category h1 {
  margin-top: 20px;
  margin-bottom: 0;
  background: transparent;
  background-color: rgb(255, 255, 255);
  width: 480px
}

#category {
  margin-bottom: 0;
  padding-bottom: 20px;
  background: transparent;
  background-color: rgb(255, 255, 255);
  width: 480px;
}

.event-category select{
    margin-bottom: 0;
    padding-bottom: 20px;
    background: transparent;
    background-color: rgb(255, 255, 255);
    width: 480px;
}

.event-category ul{
  margin-bottom: 0;
  padding-bottom: 20px;
  background: transparent;
  background-color: rgb(255, 255, 255);
  width: 480px;
}