/* CSS for homepage route */

div form {

  width: 300px;
  margin-left: auto;
  margin-right: auto;

}
.signup_form {

  border: solid 2px black;
}

/* #createprofile {

  border: solid 1px black;
} */