/* CSS for homepage route */


/* HEADER */

.header {
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  background-image: url(../img/background/meeting-5804134_1280.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
}

.header h1,
.header p,
.header button {
  margin-top: 20px;
}

.header p{
  font-size: 18px;
}

.header .btn {
  border-radius: 8px;
  margin: 10px 5px;
}

.header button:hover {
  background-color: #fff !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}

/* SERVICES */

.services {
  padding: 10px 0 0px;
  text-align: center;
}

.services h2, 
.services h4 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.services p {
  color: #737373;
  font-size: 16px;
  padding-bottom: 40px;
}

/* FOOTER */

#my-footer {
  font-size: 20px;
  margin: 0 10px 0 0;
  color: #000000;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

/* ALL ROUTES */

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

p {
  color: black;
}