/* CSS for homepage route */

.background_img {   
  /* background: url("static/img/background/meeting-5804134_1280.png");    */
  background-repeat: no-repeat;   
  width: 100%;
  height: 65vh; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background_img img {
  display: block;
  width: 100%;
  margin: -15% 0;
}

body {
  background-color: white;
}

h3 {
  color: black;
  
  /* font-family: ; */
}

h4 {
  color: black;
}

h5 {
  color: black;
  text-align: center;

}

p {
  color: black;
}