{% extends 'base.html' %} 

{% block title %} {% endblock %} 

{% block body %} 

<p>Choose the virtual event category you would like to view:</p>
  <form id ="category" action="/api/category" method = "POST">
      <select name="types" id = "types">
        <option value="select">Select</option>
        <option value="activity">Activity</option>
        <option value="celebration">Celebration</option>
        <option value="educational">Educational</option>
        <option value="entertainment">Entertainment</option>
      </select>
      <button type="submit">Submit</button>
  </form>
</p>
  <div id ="event_results">

  </div>
<script src="/static/js/profile.js"></script>

{% endblock %} 