{% extends 'base.html' %} 

{% block title %} SocialSesh - Category {% endblock %} 

{% block body %} 

<div id="event-category" class="event-category">
  <div class="container">
    <h1>Select one event category:</h1>
    <form action="/api/category" id ="category" method = "POST">
      <select name="types" id = "types">
        <option value="select">Select</option>
        <option value="activity">Activity</option>
        <option value="celebration">Celebration</option>
        <option value="educational">Educational</option>
        <option value="entertainment">Entertainment</option>
      </select>
      <button type="submit" class="btn btn-dark">Submit</button>
  </form>

  <ul id ="event_results">
  </ul>
  </div>
</div>

{% endblock %} 

{% block scripts %}
<script src="/static/js/profile.js"></script>
{% endblock %}