{% extends 'base.html' %}

{% block title %} SocialSesh - Event Details {% endblock %}

{% block body %}

<div id="event-details" class="event-details">
  <div class="container">
    <h1>{{ event.event_name }}</h1>
    <p>
    {{ event.event_description }}
    </p>
    <p>
    <u>Starts:</u> {{ event_start_date }} 
    </p>
    <p>
    <u>Ends:</u> {{ event_end_date }} 
    </p>
    <a href="/register">Register</a>
  </div>
</div>

<div id="event-photo" class="event-photo">
  <div class="container">
    <p>
      <img src="{{ event.event_photo }}">
    </p>
  </div>
</div>

{% endblock %}