{% extends 'base.html' %} 

{% block title %} SocialSesh - Create Profile {% endblock %} 

{% block body %} 


<!-- <div class="signup_form container">
  <h5>To create profile, please fill out the following:</h5>
    <form action="/form" id="createprofile" method="POST">
      <p>
        <label for="fname">First name</label>
        <input type="text" id="first" name="fname" required>
      </p>
      <p>
        <label for="lname">Last name</label>
        <input type="text" id="last" name="lname" required>
      </p>
      <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="pass" name="password" required>
      </p>
      <p>
        <label for="phone">Phone number</label>
        <input type="text" id="phone" name="phone" required>
      </p>
      <p>
        
        <button type="submit" class="btn btn-dark btn-sm">Submit</button>
      </p>
    </form> 
</div> -->


<div id="form-signup" class="form-signup">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <main class="form-signup">
          <form action="/form" id="createprofile" method="POST">
            <!-- <img class="mb-4" src="../img/background/tablet-6110623_1280.png" alt="" width="72" height="57"> -->
            <h1 class="h3 mb-3 fw-normal">To create profile, fill out the following:</h1>

            <div class="form-floating">
              <input type="fname" class="form-control" id="floatingFirst" placeholder="Jane">
              <label for="floatingInput">First name</label>
            </div>
            <div class="form-floating">
              <input type="lname" class="form-control" id="floatingLast" placeholder="Doe">
              <label for="floatingInput">Last name</label>
            </div>
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingEmail" placeholder="jdoe@test.com">
              <label for="floatingPassword">Email</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
              <input type="phone" class="form-control" id="floatingPhone" placeholder="Phone">
              <label for="floatingPassword">Phone</label>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-dark btn-lg" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted">&copy; SocialSesh 2021</p>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %} 