{% extends 'base.html' %}

{% block title %} SocialSesh {% endblock %}

{% block body %}

<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <h1>SocialSesh</h1>
                <p id="landing-page-description">Through online virtual events...</p>
                <p id="landing-page-description">Let's safely interact!</p>
                <form action="/form">
                    <p>
                        <button type="submit" class="btn btn-dark btn-lg" id="create">Signup</button>
                    </p>
                </form>
                <form action="/login">
                    <p>
                        <button type="submit" class="btn btn-dark btn-lg" id="login">Log in</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services">
    <div class="container">
        <h2>Join Today</h2>
        <p>
            SocialSesh is a online platform that offers a place to meet with people all over the world. By attending online virtual events, you can maintain safe human interaction that will keep relationships alive.
        </p>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h4>Connect</h4>
                <p>Meet with others who share similar interests.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Create</h4>
                <p>Set up events that bring value and importance to the community.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Contribute</h4>
                <p>Support others ideas by attending events that catch your eye.</p>
            </div>
        </div>
    </div>
</div>

<footer id="my-footer" class="text-center page-footer font-small">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-5 flex-center">
                    <a href="https://github.com/senseofsteph/SocialSesh" class="fab fa-github"  target="_blank"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"  target="_blank"></a>
                    <a href="https://linkedin.com/in/senseofsteph" class="fab fa-linkedin"  target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}