{% extends 'base.html' %} 

{% block title %} SocialSesh {% endblock %} 

{% block body %} 

<div class="container">
  <em>Through Online Virtual Social Events</em>
</div>

<div class="container">
  <div class="row my-homepage-row ">
    <div class="col">
      <form action="/form">
          <p>
            <button type="submit" class="btn btn-outline-info btn-sm" id="create">Create profile</button>
          </p>
      </form> 
    </div>
    <div class="col">
      <form action="/login">
        <p>
          <button type="submit" class="btn btn-outline-info btn-sm" id="login">Log in</button>
        </p>
      </form> 
    </div>
  </div>
</div>

<div class="container">
<footer>
  <p>SocialSesh © 2021</p>
</footer>
</div>

{% endblock %} 

