{% extends 'base.html' %}

{% block title %} SocialSesh {% endblock %}

{% block body %}

<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <h1>SocialSesh</h1>
                <p id="landing-page-description">Through Online Virtual Events...</p>
                <p id="landing-page-description">Lets Connect. Create. Contribute.</p>
                <form action="/form">
                    <p>
                        <button type="submit" class="btn btn-dark btn-sm" id="create">Sign-up</button>
                    </p>
                </form>
                <form action="/login">
                    <p>
                        <button type="submit" class="btn btn-dark btn-sm" id="login">Log in</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}