{% extends 'base.html' %}

{% block title %} SocialSesh - LogIn {% endblock %}

{% block body %}


<!-- <form action="/login" method="POST">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" required>
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" required>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form> -->

<div id="form-login" class="form-login">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <main class="form-login">
          <form action="/login" id="login" method="POST">
            <h1 class="h3 mb-3 fw-normal">To view profile, please log-in:</h1>
            <i class="fas fa-user-circle"></i>
            <div class="form-floating">
              <input name="email" type="email" class="form-control" id="floatingEmail" placeholder="jdoe@test.com">
              <label for="floatingPassword">Email</label>
            </div>
            <div class="form-floating">
              <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-dark btn-lg" type="submit">Log in</button>
            <p class="mt-5 mb-3 text">&copy; SocialSesh 2021</p>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>

{% endblock %}