{% extends 'base.html' %} 

{% block title %}SocialSesh{% endblock %} 

{% block body %} 

<h1>SocialSesh</h1>
<h2>Connect. Create. Contribute.</h2>

<h3>Let's Create Your Profile</h3>
<h4>Please fill out the following:</h4>

  <form action="/login" name="createprofile">
    <p>
      <label for="fname">First name</label>
      <input type="text" name="fname">
    </p>
    <p>
      <label for="lname">Last name</label>
      <input type="text" name="lname">
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" name="email">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="text" name="password">
    </p>
    <p>
      <label for="phone">Phone number</label>
      <input type="text" phone="phone">
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form> 

{% endblock %} 