{% extends 'base.html' %} 

{% block title %} {% endblock %} 

{% block body %} 

<h4>Hello!</h4>

<form action="/profile" method="POST">
  What type of social event are you interested in?
    <select name="types">
      <option value="select">Select</option>
      <option value="activity">Activity</option>
      <option value="celebration">Celebration</option>
      <option value="educational">Educational</option>
      <option value="entertainment">Entertainment</option>
      <option value="other">Other</option>
    </select>
</form>

{% endblock %} 