{% extends 'base.html' %} 

{% block title %} SocialSesh - Profile {% endblock %} 

{% block body %} 

<div id="profile-header" class="profile-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6"></div>
    </div>
  </div>
</div>
<div id="profile-image" class="profile-image">
  <div class="container">
    <div class="row">
      <img src="{{ image_file }}">
  </div>
</div>
<div id="event-links" class="event-links">
  <div class="container">
    <p>As you safely social distance, we have several events to keep you <u>virtually</u> close to others.</p> 
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <p><a href="/events">All events</a></p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p><a href="/category">Event category</a></p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p><a href="/calendar">Calendar of events</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %} 