{% extends 'base.html' %}

{% block title %} SocialSesh - Register {% endblock %}

{% block body %}

  <div id="form-register" class="form-register">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <main class="form-register">
            <form action="/register" id="register" method="POST">
              <h1 class="h3 mb-3 fw-normal">To register for event, enter your phone number:</h1>
              <div class="form-floating">
                <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone">
                <label for="phone">Phone</label>
              </div>
              <button class="btn btn-dark btn-lg" type="submit">Send SMS</button>
              <p class="mt-5 mb-3 text">&copy; SocialSesh 2021</p>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>

{% endblock %}