{% extends 'base.html' %}

{% block title %} SocialSesh - Register {% endblock %}

{% block body %}

  <div id="form-register" class="form-register">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <main class="form-register">
            <form action="/register" id="register" method="POST">
              <!-- <img class="mb-4" src="../img/background/tablet-6110623_1280.png" alt="" width="72" height="57"> -->
              <h1 class="h3 mb-3 fw-normal">To register for event, enter your phone number:</h1>
              <div class="form-floating">
                <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone">
                <label for="phone">Phone</label>
              </div>
              <button class="btn btn-dark btn-lg" type="submit">Send SMS</button>
              <p class="mt-5 mb-3 text">&copy; SocialSesh 2021</p>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>




<!-- <h5>Registration for Event</h5>

  <p>Please enter your phone number:</p> 

  <form action="/register" method="POST">
    <p>
      <label for="phone">Phone</label>
      <input type="text" name="phone">
    </p>
    <p>
      <button type="submit">Send SMS</button>
    </p>
  </form>  -->

{% endblock %}