{% extends 'base.html' %}

{% block title %} SocialSesh - Confirmation {% endblock %}

{% block body %}

<div id="confirmation-header" class="confirmation-header">
  <div class="container">
    <h1>Thank you for registering!</h1>
    <p>We've sent you a text message confirmation.</p> 
    <p>Be safe and remember to enjoy your online virtual social session.</p> 
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <section id="profile">
          <a href="/profile">Return to profile</a> 
        </section>
      </div>
      <div class="col-lg-3 col-md-3">
        <section id="logout">
          <a href="/logout">Log Out</a>
        </section>
      </div>
    </div>
  </div>
</div>


<!-- <h5>Thank you for registering!</h5>

<p>We've sent you a text message confirmation</p> 

<p>Be safe and remember to enjoy your online virtual social session.</p> 

<section id="event">
  <a href="/events">Return to Events</a> 
</section>

<section id="logout">
  <a href="/logout">Log Out</a>
</section> -->

{% endblock %}